<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Welcome, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/followsInfo">Followers & Following</a></li>
                <li><a href="/followrequests">Manage Follow Requests</a></li>
                <li><a href="/addfriends">Add a Friend to Group</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

            <h3>Lookup a username to follow:</h3>
            <form action="/followUser" method="POST" enctype="multipart/form-data">
                <input type="text" name="followUser" placeholder="Follow User" required/>
                <input type="submit" value="Follow">
            </form>
            {% if message %}
                {{ message }}
            {% endif %}
        </div>


        <div>
            <h3>Create a new Friend Group:</h3>
            <form action="/createGroup" method="post" enctype="multipart/form-data">
                <input type="text" name="groupName" placeholder='Group Name'>
                <input type='text' name='description' placeholder='Description'> 
                <input type="submit" value="Create">
            </form>
            {% if groupmessage %}
                {{ groupmessage }}
            {% endif %}
            
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </div>
    </body>
</html>
