
<html>
  <head>
      <title>Image Upload</title>
  </head>
  <body>
      <h1>Post a photo!</h1>
      <div>
          <form action="/uploadPhoto" method="POST" enctype="multipart/form-data">
              <input type="file" name="imageFile" accept="image/*">
              <br>
              <input type="text" name="caption" placeholder="Caption" required/>
              <br/>
              <input type="checkbox" name="allFollowers"> All Followers?
              <br/>
              <input type="submit" value="Upload image">
          </form>
      </div>
      {% if message %}
          {{ message }}
      {% endif %}

      {% if allFollowers==False %}
          <form action="/share" method="post" enctype="multipart/form-data">
              <h3>Which friend groups do you want to share with?</h3>
              {% for group in groupData %}
                  <input type="checkbox" name="{{group.groupName}}">{{group.groupName}}
              {% endfor %}
              <input type="submit" value="Share Photo">
          </form>

      {% endif %}
      <br/>
      <a href="/home">Go back</a>
  </body>
</html>
